.section-1__paragraph {
    color: var(--cor-text);
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2rem;
    text-align: left;
}

@media screen and (max-width: 425px) {
    .section-1__paragraph {
       text-align: left;
    }
}

