.section-1__title-primeiro {
    color: var(--cor-title);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
}

.section-1__title-segundo {
    color: var(--cor-title);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
    margin-top: 4rem;
}
