.section-1__paragraph {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
    color: var(--cor-text);
    text-align: center;
}

.section-1__paragraph > span {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
}