.quaisProblemasResolvo__item {
    list-style: none;
    font-size: 2rem;
    border: .5rem solid var(--cor-secundaria);
    border-radius: 1rem;
    background-color: #EEEDF3;
    margin-top: 1rem;
    padding: 1rem;
}

.quaisProblemasResolvo__item--done {
    background-color: var(--cor-check);
    border-radius: 50%;
    height: 35px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .quaisProblemasResolvo__item--done {
        height: 20px;
    }
}