.footer {    
    display: flex;

    background-color: rgba(133, 96, 43, 0.644);
    border-radius: 1rem;
    flex-direction: column;
    gap: 1rem;
    height: 10rem;
    padding: 2rem;
    margin: 5rem 0 1rem;
}

