.footer__button {
    display: flex;

    align-items: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 2px black;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    height: 8rem;
    justify-content: center;
}

.footer__button:hover {
    cursor: pointer;
}

.footer__button:active {
    background-color: #fff;
}

.footer__ancora {
    text-decoration: none;
    
}