* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --cor-primaria: #5CE1E4;
    --cor-secundaria: #57FACF;
    --cor-terciaria:#54F09A;
    --cor-text: #041230;
    --cor-title: #409fee;
    --cor-check: #81c747;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom #EAE9E4, #BAE0E1, #C4E3DB, #8DC6CF);
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1100px;
    padding-top: 2rem;
    width: 90%;
}

.horizonRow {
    background-color: var(--cor-check);
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgb(78, 54, 54);
    height: .3rem;
    margin-top: 6rem;
}

@media screen and (max-width: 425px) {
    body {
        width: 95%;
    }
}