.section-2__item {
    background-color: #EEEDF3;
    border: .5rem solid var(--cor-secundaria);
    border-radius: 1rem;
    font-size: 2rem;
    height: 70px;
    list-style: none;
    padding-top: 1.2rem;
    margin-top: 1rem;
    vertical-align: middle;
}

.section-2__item--done {
    background-color: var(--cor-check);
    border-radius: 50%;
    height: 35px;
    vertical-align: middle;
}
