.quemSouEu__title-primeiro {
    color: #8DC6CF;
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    text-align: left;
}

.quemSouEu__title-segundo {
    color: #8DC6CF;
    font-size: 3rem;
    margin-top: 4rem;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (max-width: 425px) {
    .quemSouEu__title-primeiro {
        background-color: black;
        border-radius: 1rem;
        margin-top: 2rem;
        padding: 1rem;
        text-align: center;
    }
}
