.porqueEu__image {
    float: left;
    padding: 2rem 2rem 2rem 0;
    width: 40%;
}

@media screen and (max-width: 425px) {
    .porqueEu__image {
        float: none;
        padding-right: 0;
        width: 100%;
    }
}